.view-wrapper {
  display: flex;
  flex-direction: column;

  .edit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

    .title-center {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    button {
      margin-left: 16px;
      cursor: pointer;
      border: none;
      background-color: white;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
