.create-article-form-wrapper {
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .create-error {
    color: #ff0000;
  }

  .input-title-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;

    label {
      font-weight: 700;
    }

    input {
      border-right: none;
      border-left: none;
      border-top: none;
      font-size: 1rem;
      outline: none;
    }
  }

  .form-button-wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 40px;

    button {
      border: none;
      border-radius: 10px;
      text-decoration: none;
      color: white;
      background: #0b63f6;
      box-shadow: 0 5px 0 #003cc5;
      padding: 10px;
    }

    button:hover {
      background: #003cc5;
      box-shadow: none;
      position: relative;
      top: 5px;
    }
  }
}
