.home-page-wrapper {
    display: flex;
    height: 100vh;
    padding-left: 20px;

    .home-sidebar {
        width: 300;
        border-right: 1px solid #ccc;

    }

    .sidebar-title {
        margin-bottom: 20px;
        font-weight: 700;
        color: gray;
    }

    .article-content {
        flex: 1; 
        padding: 50px;
    }
}